<div>
  <button
    type="submit"
    class="text-md rounded-md px-6 py-2 font-bold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-red-400 hover:bg-red-300 focus-visible:outline-red-400 disabled:bg-red-300"
  >
    <%= 'Delete' %>
  </button>
</div>
