<% if (locals?.errors?.length) { %>
    <div class="mt-8">
      <ul>
        <% errors.forEach(err => { %>
            <li class="text-red-600"><%= err.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>