<header class="shadow-md">
  <div class="flex gap-28 max-w-screen-2xl mx-auto px-8 py-6 items-center">
    <a href="/"><h2 class="text-2xl">Pokedex</h2></a>
    <nav>
      <ul class="flex gap-10 text-xl">
        <li>
          <a href="/pokemon">Pokemon</a>
        </li>
        <li>
          <a href="/trainers">Trainers</a>
        </li>
        <li>
          <a href="/types">Types</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
