<div>
  <button
    type="submit"
    class="text-md rounded-md px-6 py-2 font-bold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-mantis-400 hover:bg-mantis-300 focus-visible:outline-mantis-400 disabled:bg-mantis-300"
  >
    <%= id ? 'Update' : 'Create' %>
  </button>
</div>
