<% if (types?.length && types.length > 0) { %>
    <ul class="">
        <% types.forEach((t) => { %>
            <li class="flex float-start mr-4 mb-4">
                <a href="/types/<%= t.id %>">
                    <div class="px-4 py-2 bg-white rounded-lg" style="background: #<%= t.color%>">
                        <h3><%= t.type %></h3>
                    </div>
                </a>
            </li>
        <% })%>
    </ul>
<% } else { %>
    <p>None defined</p>
<% } %>


