<div class="flex justify-between items-center mb-8">
    <h1 class="text-3xl">Trainers List</h1>
    <a href="/trainers/new"><h3 class="text-2xl">+ Create New Trainer</h3></a>
</div>
<% if (trainers?.length && trainers.length > 0) { %>
    <ul class="flex flex-col gap-4">
        <% trainers.forEach((t) => { %>
            <li class="flex">
                <a href="/trainers/<%= t.id %>" class="text-blue-600 hover:underline">
                    <div class="flex gap-2 items-center">
                        <div class="flex w-8 h-10 p-1 justify-center">
                            <img src="<%= t.image || "https://res.cloudinary.com/dadnu9xkc/image/upload/v1724543191/trainer.png" %>" alt="<%= t.image ? t.name : "trainer" %>" class="object-contain">
                        </div>
                        <h3><%= t.name %></h3>
                    </div>
                </a>
            </li>
        <% })%>
    </ul>
<% } else { %>
    <p>None defined</p>
<% } %>


